ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
address {
  font-style: normal;
}
button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

/* Header section */

.menu-link {
  position: relative;
}

.menu-link:hover,
.menu-link:focus,
.menu-link.current {
  color: #2196f3;
}

.menu-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
}

.menu-link.current::after,
.menu-link:hover::after,
.menu-link:focus::after {
  opacity: 1;
}

.section {
  padding: 94px 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.menu {
  border-bottom: 1px solid #ececec;
}

.menu-list,
.contact-list {
  align-items: center;
}

.logo-top,
.logo-bottom {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-top {
  margin-right: 95px;
  padding: 25px 0;
}

.menu-item {
  margin-right: 50px;
}

.logo-studio-top {
  color: #000000;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0 32px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.top-mail-link,
.top-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 32px 0 32px 0;
  display: flex;
  align-items: center;
}

.contact-list {
  margin-left: auto;
}

.top-phone-number {
  margin-left: 50px;
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon:hover,
.mail-icon:focus,
.phone-icon:hover,
.phone-icon:focus,
.top-phone-number:hover,
.top-phone-number:focus,
.top-mail-link:hover,
.top-mail-link:focus {
  color: #2196f3;
}

/* Preview section */

.preview {
  background: #2f303a;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  max-height: 600px;
}

.preview-wrapper {
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background/Img-bg.jpg') no-repeat center/cover, #2f303a;
}

.preview-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.preview-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  width: 700px;
}

.preview-button-center,
.preview-title-center {
  display: flex;
  justify-content: center;
}

.preview-button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.preview-button:hover,
.preview-button:focus {
  background: #188ce8;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Features section */

.features {
  padding-bottom: 0;
}

.features-list {
  gap: 30px;
}

.icon-block {
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.featurest-detail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* About section */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.about-list {
  gap: 30px;
}

.about-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.about-overlay-box {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 23.8%;
  background: rgba(47, 48, 58, 0.8);
}

.about-overlay-description {
  margin: 0;
  padding: 27px auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* Team section  */

.team {
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  gap: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-photo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-social {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-social-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.team-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  color: #fff;
  background: #2196f3;
}

/* Client section */

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.client-list {
  gap: 30px;
}

.client-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: #2196f3;
  border-color: #2196f3;
  /* color: inherit; */
}

/* .client-link:hover .client-icon,
.client-link:focus .client-icon{
fill: #2196f3;
} */

/* Porfolio section */

.portfolio-page-button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  padding: 6px 25px;
}

/* Buttons section */

.buttons-item {
  margin-right: 10px;
}

.buttons-list {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-item:last-child {
  margin-right: 0;
}

/* Works section */

.works {
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-page-button:hover,
.portfolio-page-button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.wroks-item:hover,
.wroks-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.works-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.works-overlay-box {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
}

.works-overlay-description {
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.works-overlay-box,
.works-overlay-description {
  opacity: 0;
}

.works-overlay-box:hover,
.works-overlay-description:hover,
.works-overlay-box:focus,
.works-overlay-description:focus {
  opacity: 1;
}

.works-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 5px;
}

.works-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-work {
  padding: 20px 25px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* Footer section */

.footer {
  background: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.flex-logo-bot {
  margin-bottom: 20px;
}

.contacts-item {
  margin-bottom: 10px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.logo-studio-bot {
  color: #ffffff;
}

.contacts-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-map:hover,
.contacts-map:focus {
  color: #2196f3;
}

.bot-mail-link,
.bot-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.bot-phone-number:hover,
.bot-phone-number:focus,
.bot-mail-link:hover,
.bot-mail-link:focus {
  color: #2196f3;
}

/* Footer social */

.footer-social {
  margin-left: 70px;
}

.ablout-footer-links {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  gap: 10px;
}

.footer-social-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #ffffff1a;
}

.footer-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #fff;
  background: #2196f3;
}
