ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
address {
  font-style: normal;
}
button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 95px 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.menu-container {
  padding: 25px 15px;
  border-bottom: 1px solid #ececec;
}

.menu-list,
.contact-list {
  align-items: center;
}

.logo-top,
.logo-bottom {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-top {
  margin-right: 95px;
}

.menu-item {
  margin-right: 50px;
}

.logo-studio-top {
  color: #000000;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover {
  color: #2196f3;
}

.menu-link:focus {
  color: #2196f3;
}

.top-mail-link,
.top-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-list {
  margin-left: auto;
}

.top-phone-number {
  margin-left: 50px;
}

.top-phone-number:hover {
  color: #2196f3;
}

.top-phone-number:focus {
  color: #2196f3;
}

.top-mail-link:hover {
  color: #2196f3;
}

.top-mail-link:focus {
  color: #2196f3;
}

.preview {
  background: #2f303a;
}

.preview-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.preview-title {

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  width: 700px;
}

.preview-button-center,
.preview-title-center {
  display: flex;
  justify-content: center;
}

.preview-button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.preview-button:hover {
  background: #188ce8;
}

.preview-button:focus {
  background: #188ce8;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-container {
  padding-bottom: 0;
}

.features-list {
  gap: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.featurest-detail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.about-list {
  gap: 30px;
}

.team {
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  gap: 30px;
}

.team-img {
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 70px 30px 70px;
}

.team-iteam {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.portfolio-page-button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
}

.buttons-item {
  margin-right: 10px;
}

.buttons-list {
  align-items: center;
  justify-content: center;
}

.buttons-item:last-child {
  margin-right: 0;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-page-button:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-page-button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-text-button {
  padding: 6px 25px;
}

.portfolio-text-button:hover {
  padding: 6px 25px;
}

.portfolio-text-button:focus {
  padding: 6px 25px;
}

.buttons-list {
  margin-bottom: 35px;
}

.wroks-item {
  border: 1px solid #eeeeee;
}

.works-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 5px;
}

.works-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-work {
  margin: 20px 24px;
}

.footer {
  background: #2f303a;
  padding-top: 0;
}

.footer-container {
padding-top: 60px;
  padding-bottom: 60px;
}

.flex-logo-bot {
  margin-bottom: 20px;
}

.contacts-item {
  margin-bottom: 10px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.logo-studio-bot {
  color: #ffffff;
}

.contacts-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-map:hover {
  color: #2196f3;
}

.contacts-map:focus {
  color: #2196f3;
}

.bot-mail-link,
.bot-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.bot-phone-number:hover {
  color: #2196f3;
}

.bot-phone-number:focus {
  color: #2196f3;
}

.bot-mail-link:hover {
  color: #2196f3;
}

.bot-mail-link:focus {
  color: #2196f3;
}

/* tests */
.qweqwe {
  /* вирівнювання */
  margin-left: auto;
  /* коло */
  border-radius: 50%;
  /* кути */
  border-radius: 20px;
  /* максимальна ширина */
  max-width: 1500px;
  /* мінімальна ширина */
  min-width: 50%;
  /* вирівнює в ряд */
  display: flex;
  /* переміщає на наступний рядок, якро на цьому немає місця */
  flex-wrap: wrap;
  /* відступ між елементами */
  gap: 30px;
  /* робить розташування елементів вертикально */
  flex-direction: column;
  /* вирівнює по центру */
  align-items: center;
}

.card-set {
  flex-basis: calc((100% - 30px * 2) / 3);
}
/* в два рядки
hero wids 700px */
