link {
  text-decoration: none;
  font-style: normal;
}

body {
  background-color: #fff;
  font-family: "roboto", sans-serif;
}


























/* :root {
  
  --white-color: #fff;
  --accent-color: #ff6c00;


  --main-font: "raleway", sans-serif;

}


h1 {
  font-family: var(--main-font);
  color: var(--accent-color);
} */





/* .link,
.logo,
.contacts-link {
  text-decoration: none;
}

.list,
.logo,
.contacts-link {
  list-style: none;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
} */






/* body {
  color: #fff;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 12px; */
  /* line-height: 16px or 1.33; */
/* } */

/* .button {
  cursor: pointer, zoom-out;
  outline: none, transparent; */


/* .navigation {
  color: #212121;
}

.navigation :hover,
:focus {
  color: #2196f3;
}

.contacts {
  color: #757575;
}

.contacts :hover,
:focus {
  color: #2196f3;
}

button {
  color: #212121;
  background-color: #f5f4fa;
}

button :hover,
:focus {
  color: #ffffff;
  background-color: #2196f3;
} */
